.cssDetector_file_type{display:none;}

.icon16 .aac_Icon{background:url(../../image/icons/file_types/16px/aac.png) no-repeat center center;}
.icon16 .aiff_Icon{background:url(../../image/icons/file_types/16px/aiff.png) no-repeat center center;}
.icon16 .ai_Icon{background:url(../../image/icons/file_types/16px/ai.png) no-repeat center center;}
.icon16 .avi_Icon{background:url(../../image/icons/file_types/16px/avi.png) no-repeat center center;}
.icon16 .bmp_Icon{background:url(../../image/icons/file_types/16px/bmp.png) no-repeat center center;}
.icon16 .c_Icon{background:url(../../image/icons/file_types/16px/c.png) no-repeat center center;}
.icon16 .cpp_Icon{background:url(../../image/icons/file_types/16px/cpp.png) no-repeat center center;}
.icon16 .css_Icon{background:url(../../image/icons/file_types/16px/css.png) no-repeat center center;}
.icon16 .dat_Icon{background:url(../../image/icons/file_types/16px/dat.png) no-repeat center center;}
.icon16 .dmg_Icon{background:url(../../image/icons/file_types/16px/dmg.png) no-repeat center center;}
.icon16 .doc_Icon{background:url(../../image/icons/file_types/16px/doc.png) no-repeat center center;}
.icon16 .docx_Icon{background:url(../../image/icons/file_types/16px/doc.png) no-repeat center center;}
.icon16 .dotx_Icon{background:url(../../image/icons/file_types/16px/dotx.png) no-repeat center center;}
.icon16 .dwg_Icon{background:url(../../image/icons/file_types/16px/dwg.png) no-repeat center center;}
.icon16 .dxf_Icon{background:url(../../image/icons/file_types/16px/dxf.png) no-repeat center center;}
.icon16 .eps_Icon{background:url(../../image/icons/file_types/16px/eps.png) no-repeat center center;}
.icon16 .exe_Icon{background:url(../../image/icons/file_types/16px/exe.png) no-repeat center center;}
.icon16 .flv_Icon{background:url(../../image/icons/file_types/16px/flv.png) no-repeat center center;}
.icon16 .gif_Icon{background:url(../../image/icons/file_types/16px/gif.png) no-repeat center center;}
.icon16 .h_Icon{background:url(../../image/icons/file_types/16px/h.png) no-repeat center center;}
.icon16 .hpp_Icon{background:url(../../image/icons/file_types/16px/hpp.png) no-repeat center center;}
.icon16 .html_Icon{background:url(../../image/icons/file_types/16px/html.png) no-repeat center center;}
.icon16 .ics_Icon{background:url(../../image/icons/file_types/16px/ics.png) no-repeat center center;}
.icon16 .iso_Icon{background:url(../../image/icons/file_types/16px/iso.png) no-repeat center center;}
.icon16 .java_Icon{background:url(../../image/icons/file_types/16px/java.png) no-repeat center center;}
.icon16 .jpg_Icon{background:url(../../image/icons/file_types/16px/jpg.png) no-repeat center center;}
.icon16 .key_Icon{background:url(../../image/icons/file_types/16px/key.png) no-repeat center center;}
.icon16 .mid_Icon{background:url(../../image/icons/file_types/16px/mid.png) no-repeat center center;}
.icon16 .mp3_Icon{background:url(../../image/icons/file_types/16px/mp3.png) no-repeat center center;}
.icon16 .mp4_Icon{background:url(../../image/icons/file_types/16px/mp4.png) no-repeat center center;}
.icon16 .mpg_Icon{background:url(../../image/icons/file_types/16px/mpg.png) no-repeat center center;}
.icon16 .odf_Icon{background:url(../../image/icons/file_types/16px/odf.png) no-repeat center center;}
.icon16 .ods_Icon{background:url(../../image/icons/file_types/16px/ods.png) no-repeat center center;}
.icon16 .odt_Icon{background:url(../../image/icons/file_types/16px/odt.png) no-repeat center center;}
.icon16 .otp_Icon{background:url(../../image/icons/file_types/16px/otp.png) no-repeat center center;}
.icon16 .ots_Icon{background:url(../../image/icons/file_types/16px/ots.png) no-repeat center center;}
.icon16 .ott_Icon{background:url(../../image/icons/file_types/16px/ott.png) no-repeat center center;}
.icon16 .pdf_Icon{background:url(../../image/icons/file_types/16px/pdf.png) no-repeat center center;}
.icon16 .php_Icon{background:url(../../image/icons/file_types/16px/php.png) no-repeat center center;}
.icon16 .png_Icon{background:url(../../image/icons/file_types/16px/png.png) no-repeat center center;}
.icon16 .ppt_Icon{background:url(../../image/icons/file_types/16px/ppt.png) no-repeat center center;}
.icon16 .psd_Icon{background:url(../../image/icons/file_types/16px/psd.png) no-repeat center center;}
.icon16 .py_Icon{background:url(../../image/icons/file_types/16px/py.png) no-repeat center center;}
.icon16 .qt_Icon{background:url(../../image/icons/file_types/16px/qt.png) no-repeat center center;}
.icon16 .rar_Icon{background:url(../../image/icons/file_types/16px/rar.png) no-repeat center center;}
.icon16 .rb_Icon{background:url(../../image/icons/file_types/16px/rb.png) no-repeat center center;}
.icon16 .rtf_Icon{background:url(../../image/icons/file_types/16px/rtf.png) no-repeat center center;}
.icon16 .sql_Icon{background:url(../../image/icons/file_types/16px/sql.png) no-repeat center center;}
.icon16 .tga_Icon{background:url(../../image/icons/file_types/16px/tga.png) no-repeat center center;}
.icon16 .tgz_Icon{background:url(../../image/icons/file_types/16px/tgz.png) no-repeat center center;}
.icon16 .tiff_Icon{background:url(../../image/icons/file_types/16px/tiff.png) no-repeat center center;}
.icon16 .txt_Icon{background:url(../../image/icons/file_types/16px/txt.png) no-repeat center center;}
.icon16 .wav_Icon{background:url(../../image/icons/file_types/16px/wav.png) no-repeat center center;}
.icon16 .xls_Icon{background:url(../../image/icons/file_types/16px/xls.png) no-repeat center center;}
.icon16 .xlsx_Icon{background:url(../../image/icons/file_types/16px/xlsx.png) no-repeat center center;}
.icon16 .xml_Icon{background:url(../../image/icons/file_types/16px/xml.png) no-repeat center center;}
.icon16 .yml_Icon{background:url(../../image/icons/file_types/16px/yml.png) no-repeat center center;}
.icon16 .zip.png{background:url(../../image/icons/file_types/16px/zip.png) no-repeat center center;}
.icon32 .aac_Icon{background:url(../../image/icons/file_types/32px/aac.png) no-repeat center center;}
.icon32 .aiff_Icon{background:url(../../image/icons/file_types/32px/aiff.png) no-repeat center center;}
.icon32 .ai_Icon{background:url(../../image/icons/file_types/32px/ai.png) no-repeat center center;}
.icon32 .avi_Icon{background:url(../../image/icons/file_types/32px/avi.png) no-repeat center center;}
.icon32 .bmp_Icon{background:url(../../image/icons/file_types/32px/bmp.png) no-repeat center center;}
.icon32 .c_Icon{background:url(../../image/icons/file_types/32px/c.png) no-repeat center center;}
.icon32 .cpp_Icon{background:url(../../image/icons/file_types/32px/cpp.png) no-repeat center center;}
.icon32 .css_Icon{background:url(../../image/icons/file_types/32px/css.png) no-repeat center center;}
.icon32 .dat_Icon{background:url(../../image/icons/file_types/32px/dat.png) no-repeat center center;}
.icon32 .dmg_Icon{background:url(../../image/icons/file_types/32px/dmg.png) no-repeat center center;}
.icon32 .doc_Icon{background:url(../../image/icons/file_types/32px/doc.png) no-repeat center center;}
.icon32 .docx_Icon{background:url(../../image/icons/file_types/32px/doc.png) no-repeat center center;}
.icon32 .dotx_Icon{background:url(../../image/icons/file_types/32px/dotx.png) no-repeat center center;}
.icon32 .dwg_Icon{background:url(../../image/icons/file_types/32px/dwg.png) no-repeat center center;}
.icon32 .dxf_Icon{background:url(../../image/icons/file_types/32px/dxf.png) no-repeat center center;}
.icon32 .eps_Icon{background:url(../../image/icons/file_types/32px/eps.png) no-repeat center center;}
.icon32 .exe_Icon{background:url(../../image/icons/file_types/32px/exe.png) no-repeat center center;}
.icon32 .flv_Icon{background:url(../../image/icons/file_types/32px/flv.png) no-repeat center center;}
.icon32 .gif_Icon{background:url(../../image/icons/file_types/32px/gif.png) no-repeat center center;}
.icon32 .h_Icon{background:url(../../image/icons/file_types/32px/h.png) no-repeat center center;}
.icon32 .hpp_Icon{background:url(../../image/icons/file_types/32px/hpp.png) no-repeat center center;}
.icon32 .html_Icon{background:url(../../image/icons/file_types/32px/html.png) no-repeat center center;}
.icon32 .ics_Icon{background:url(../../image/icons/file_types/32px/ics.png) no-repeat center center;}
.icon32 .iso_Icon{background:url(../../image/icons/file_types/32px/iso.png) no-repeat center center;}
.icon32 .java_Icon{background:url(../../image/icons/file_types/32px/java.png) no-repeat center center;}
.icon32 .jpg_Icon{background:url(../../image/icons/file_types/32px/jpg.png) no-repeat center center;}
.icon32 .key_Icon{background:url(../../image/icons/file_types/32px/key.png) no-repeat center center;}
.icon32 .mid_Icon{background:url(../../image/icons/file_types/32px/mid.png) no-repeat center center;}
.icon32 .mp3_Icon{background:url(../../image/icons/file_types/32px/mp3.png) no-repeat center center;}
.icon32 .mp4_Icon{background:url(../../image/icons/file_types/32px/mp4.png) no-repeat center center;}
.icon32 .mpg_Icon{background:url(../../image/icons/file_types/32px/mpg.png) no-repeat center center;}
.icon32 .odf_Icon{background:url(../../image/icons/file_types/32px/odf.png) no-repeat center center;}
.icon32 .ods_Icon{background:url(../../image/icons/file_types/32px/ods.png) no-repeat center center;}
.icon32 .odt_Icon{background:url(../../image/icons/file_types/32px/odt.png) no-repeat center center;}
.icon32 .otp_Icon{background:url(../../image/icons/file_types/32px/otp.png) no-repeat center center;}
.icon32 .ots_Icon{background:url(../../image/icons/file_types/32px/ots.png) no-repeat center center;}
.icon32 .ott_Icon{background:url(../../image/icons/file_types/32px/ott.png) no-repeat center center;}
.icon32 .pdf_Icon{background:url(../../image/icons/file_types/32px/pdf.png) no-repeat center center;}
.icon32 .php_Icon{background:url(../../image/icons/file_types/32px/php.png) no-repeat center center;}
.icon32 .png_Icon{background:url(../../image/icons/file_types/32px/png.png) no-repeat center center;}
.icon32 .ppt_Icon{background:url(../../image/icons/file_types/32px/ppt.png) no-repeat center center;}
.icon32 .psd_Icon{background:url(../../image/icons/file_types/32px/psd.png) no-repeat center center;}
.icon32 .py_Icon{background:url(../../image/icons/file_types/32px/py.png) no-repeat center center;}
.icon32 .qt_Icon{background:url(../../image/icons/file_types/32px/qt.png) no-repeat center center;}
.icon32 .rar_Icon{background:url(../../image/icons/file_types/32px/rar.png) no-repeat center center;}
.icon32 .rb_Icon{background:url(../../image/icons/file_types/32px/rb.png) no-repeat center center;}
.icon32 .rtf_Icon{background:url(../../image/icons/file_types/32px/rtf.png) no-repeat center center;}
.icon32 .sql_Icon{background:url(../../image/icons/file_types/32px/sql.png) no-repeat center center;}
.icon32 .tga_Icon{background:url(../../image/icons/file_types/32px/tga.png) no-repeat center center;}
.icon32 .tgz_Icon{background:url(../../image/icons/file_types/32px/tgz.png) no-repeat center center;}
.icon32 .tiff_Icon{background:url(../../image/icons/file_types/32px/tiff.png) no-repeat center center;}
.icon32 .txt_Icon{background:url(../../image/icons/file_types/32px/txt.png) no-repeat center center;}
.icon32 .wav_Icon{background:url(../../image/icons/file_types/32px/wav.png) no-repeat center center;}
.icon32 .xls_Icon{background:url(../../image/icons/file_types/32px/xls.png) no-repeat center center;}
.icon32 .xlsx_Icon{background:url(../../image/icons/file_types/32px/xlsx.png) no-repeat center center;}
.icon32 .xml_Icon{background:url(../../image/icons/file_types/32px/xml.png) no-repeat center center;}
.icon32 .yml_Icon{background:url(../../image/icons/file_types/32px/yml.png) no-repeat center center;}
.icon32 .zip.png{background:url(../../image/icons/file_types/32px/zip.png) no-repeat center center;}
.icon48 .aac_Icon{background:url(../../image/icons/file_types/48px/aac.png) no-repeat center center;}
.icon48 .aiff_Icon{background:url(../../image/icons/file_types/48px/aiff.png) no-repeat center center;}
.icon48 .ai_Icon{background:url(../../image/icons/file_types/48px/ai.png) no-repeat center center;}
.icon48 .avi_Icon{background:url(../../image/icons/file_types/48px/avi.png) no-repeat center center;}
.icon48 .bmp_Icon{background:url(../../image/icons/file_types/48px/bmp.png) no-repeat center center;}
.icon48 .c_Icon{background:url(../../image/icons/file_types/48px/c.png) no-repeat center center;}
.icon48 .cpp_Icon{background:url(../../image/icons/file_types/48px/cpp.png) no-repeat center center;}
.icon48 .css_Icon{background:url(../../image/icons/file_types/48px/css.png) no-repeat center center;}
.icon48 .dat_Icon{background:url(../../image/icons/file_types/48px/dat.png) no-repeat center center;}
.icon48 .dmg_Icon{background:url(../../image/icons/file_types/48px/dmg.png) no-repeat center center;}
.icon48 .doc_Icon{background:url(../../image/icons/file_types/48px/doc.png) no-repeat center center;}
.icon48 .docx_Icon{background:url(../../image/icons/file_types/48px/doc.png) no-repeat center center;}
.icon48 .dotx_Icon{background:url(../../image/icons/file_types/48px/dotx.png) no-repeat center center;}
.icon48 .dwg_Icon{background:url(../../image/icons/file_types/48px/dwg.png) no-repeat center center;}
.icon48 .dxf_Icon{background:url(../../image/icons/file_types/48px/dxf.png) no-repeat center center;}
.icon48 .eps_Icon{background:url(../../image/icons/file_types/48px/eps.png) no-repeat center center;}
.icon48 .exe_Icon{background:url(../../image/icons/file_types/48px/exe.png) no-repeat center center;}
.icon48 .flv_Icon{background:url(../../image/icons/file_types/48px/flv.png) no-repeat center center;}
.icon48 .gif_Icon{background:url(../../image/icons/file_types/48px/gif.png) no-repeat center center;}
.icon48 .h_Icon{background:url(../../image/icons/file_types/48px/h.png) no-repeat center center;}
.icon48 .hpp_Icon{background:url(../../image/icons/file_types/48px/hpp.png) no-repeat center center;}
.icon48 .html_Icon{background:url(../../image/icons/file_types/48px/html.png) no-repeat center center;}
.icon48 .ics_Icon{background:url(../../image/icons/file_types/48px/ics.png) no-repeat center center;}
.icon48 .iso_Icon{background:url(../../image/icons/file_types/48px/iso.png) no-repeat center center;}
.icon48 .java_Icon{background:url(../../image/icons/file_types/48px/java.png) no-repeat center center;}
.icon48 .jpg_Icon{background:url(../../image/icons/file_types/48px/jpg.png) no-repeat center center;}
.icon48 .key_Icon{background:url(../../image/icons/file_types/48px/key.png) no-repeat center center;}
.icon48 .mid_Icon{background:url(../../image/icons/file_types/48px/mid.png) no-repeat center center;}
.icon48 .mp3_Icon{background:url(../../image/icons/file_types/48px/mp3.png) no-repeat center center;}
.icon48 .mp4_Icon{background:url(../../image/icons/file_types/48px/mp4.png) no-repeat center center;}
.icon48 .mpg_Icon{background:url(../../image/icons/file_types/48px/mpg.png) no-repeat center center;}
.icon48 .odf_Icon{background:url(../../image/icons/file_types/48px/odf.png) no-repeat center center;}
.icon48 .ods_Icon{background:url(../../image/icons/file_types/48px/ods.png) no-repeat center center;}
.icon48 .odt_Icon{background:url(../../image/icons/file_types/48px/odt.png) no-repeat center center;}
.icon48 .otp_Icon{background:url(../../image/icons/file_types/48px/otp.png) no-repeat center center;}
.icon48 .ots_Icon{background:url(../../image/icons/file_types/48px/ots.png) no-repeat center center;}
.icon48 .ott_Icon{background:url(../../image/icons/file_types/48px/ott.png) no-repeat center center;}
.icon48 .pdf_Icon{background:url(../../image/icons/file_types/48px/pdf.png) no-repeat center center;}
.icon48 .php_Icon{background:url(../../image/icons/file_types/48px/php.png) no-repeat center center;}
.icon48 .png_Icon{background:url(../../image/icons/file_types/48px/png.png) no-repeat center center;}
.icon48 .ppt_Icon{background:url(../../image/icons/file_types/48px/ppt.png) no-repeat center center;}
.icon48 .psd_Icon{background:url(../../image/icons/file_types/48px/psd.png) no-repeat center center;}
.icon48 .py_Icon{background:url(../../image/icons/file_types/48px/py.png) no-repeat center center;}
.icon48 .qt_Icon{background:url(../../image/icons/file_types/48px/qt.png) no-repeat center center;}
.icon48 .rar_Icon{background:url(../../image/icons/file_types/48px/rar.png) no-repeat center center;}
.icon48 .rb_Icon{background:url(../../image/icons/file_types/48px/rb.png) no-repeat center center;}
.icon48 .rtf_Icon{background:url(../../image/icons/file_types/48px/rtf.png) no-repeat center center;}
.icon48 .sql_Icon{background:url(../../image/icons/file_types/48px/sql.png) no-repeat center center;}
.icon48 .tga_Icon{background:url(../../image/icons/file_types/48px/tga.png) no-repeat center center;}
.icon48 .tgz_Icon{background:url(../../image/icons/file_types/48px/tgz.png) no-repeat center center;}
.icon48 .tiff_Icon{background:url(../../image/icons/file_types/48px/tiff.png) no-repeat center center;}
.icon48 .txt_Icon{background:url(../../image/icons/file_types/48px/txt.png) no-repeat center center;}
.icon48 .wav_Icon{background:url(../../image/icons/file_types/48px/wav.png) no-repeat center center;}
.icon48 .xls_Icon{background:url(../../image/icons/file_types/48px/xls.png) no-repeat center center;}
.icon48 .xlsx_Icon{background:url(../../image/icons/file_types/48px/xlsx.png) no-repeat center center;}
.icon48 .xml_Icon{background:url(../../image/icons/file_types/48px/xml.png) no-repeat center center;}
.icon48 .yml_Icon{background:url(../../image/icons/file_types/48px/yml.png) no-repeat center center;}
.icon48 .zip.png{background:url(../../image/icons/file_types/48px/zip.png) no-repeat center center;}
