.cssDetector_advisorpanel{display:none;}

#yoodooWidget .advisorpanel>h2{
	margin-top:4px;
}
#yoodooWidget .advisorpanelPanel>div>h2{
	margin-top:0px;
	padding-top:20px;
}
.advisorpanel #yoodooContainerContent{
	-o-box-shadow:0px 0px 10px #000;
	-moz-box-shadow:0px 0px 10px #000;
	-khtml-box-shadow:0px 0px 10px #000;
	-webkit-box-shadow:0px 0px 10px #000;
	box-shadow:0px 0px 10px #000;
}
.advisorpanel .advisorsteps{
	width:18%;
	position:absolute;
	top:60px;
	right:5px;
	text-align:center;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-o-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	padding:5px;
}
@-webkit-keyframes bounce{
	0%, 100% {-webkit-transform:translateY(0px);animation-timing-function ease-in-out;}
	50% {-webkit-transform:translateY(-20px);animation-timing-function ease-in-out;}
}
@-moz-keyframes bounce{
	0%, 100% {-moz-transform:translateY(0px);animation-timing-function ease-in-out;}
	50% {-moz-transform:translateY(-20px);animation-timing-function ease-in-out;}
}
@-o-keyframes bounce{
	0%, 100% {-o-transform:translateY(0px);animation-timing-function ease-in-out;}
	50% {-o-transform:translateY(-20px);animation-timing-function ease-in-out;}
}
@keyframes bounce{
	0%, 100% {transform:translateY(0px);animation-timing-function ease-in-out;}
	50% {transform:translateY(-20px);animation-timing-function ease-in-out;}
}
.advisorpanel .advisorArrow{
	position:absolute;
	background:url(images/advisor-arrow.png) no-repeat;
	width:97px;
	height:71px;
	right:-60px;
	top:-65px;
	transition:top 1s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-webkit-animation-name:bounce;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-fill-mode:both;
	-moz-animation-duration:2s;
	-moz-animation-name:bounce;
	-moz-animation-iteration-count: infinite;
	-o-animation-fill-mode:both;
	-o-animation-duration:2s;
	-o-animation-name:bounce;
	-o-animation-iteration-count: infinite;
	animation-fill-mode:both;
	animation-duration:2s;
	animation-name:bounce;
	animation-iteration-count: infinite;
}
